<div class="users-signup-wrapper">

  <!-- Title -->
  <div class="users-signup-title">
    <h2>Sign up</h2>
  </div>
  <!-- End Title -->

  <!-- Form -->
  <div class="users-signup-form-wrapper">
    <div class="users-signup-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Bob" } %>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Squarepants" } %>
        <%= f.input :phone_number,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "1111111111" } %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <!-- Div Inside Form Wrapper to Align login and signup Buttons -->
      <div class="users-signup-form-buttons">
        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>
          <!-- Login Button (inside Form Wrapper)-->
          <%= render "devise/shared/links" %>
          <!-- End Login Button -->
      </div>
    </div>
  </div>
  <!-- End Form -->

</div>
