<h1>User Profile</h1>
<p>This is the user profile/dashboard page</p>

<div>
  <div> <!-- this is the apartment div -->
    <% if policy(current_user).homes_not_zero?(@my_homes) %>
    <p>title: <%= @my_homes.first.title %></p>
    <p>address: <%= @my_homes.first.address %></p>
    <p>description: <%= @my_homes.first.description %></p>
    <% end %>
  </div>

  <div> <!-- this is the user info div -->
    <p>email: <%= @user.email%></p>
    <p>name: <%= @user.first_name %>
      <%= @user.last_name  %></p>
      <p>phone: <%= @user.phone_number %></p>
      <%= link_to 'edit', edit_user_registration_path(@user) %>
      <h2>My homes</h2>
      <% if policy(current_user).homes_not_zero?(@my_homes) %>
        <% @my_homes.each do |home| %>
          <%= link_to home_path(home) do %>
            <p><%= home.title %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div> <!-- this is the matches div -->
      <h2> List of interested users </h2>
      <% @my_listings.each do |listing| %>
        <p><%= listing[:student].first_name %></p>
        <%= link_to home_path(listing[:home]) do %>
          <%= listing[:home].title %>
          <% if policy(listing[:listing]).liked_as_owner? %>
              <%= link_to 'dislike', owner_like_path(listing[:listing]), method: :post, :class => 'btn btn-warning like-button', remote: true %>
          <% else %>
            <%= link_to 'like', owner_like_path(listing[:listing]), method: :post, :class => 'btn btn-success like-button', remote: true %>
          <% end %>
        <% end %>
        ----------------------------
      <% end %>
    </div>
    <div>
      <h2>My likes</h2>
      <% @my_likes.each do |listing| %>
      <p>
        <%= link_to home_path(listing[:home]) do %>
          <%= listing[:home].title %>
        <% end %>
        -------
        <% if listing[:owner_like] == true %>
          match! with <%= listing[:home].owner.first_name %>
        <% end %>
      </p>
      <% end %>
      ----------------
    </div>
    <div> <!-- this is the message div -->
      <h2>Message box</h2>
    </div>
    <p> <%= link_to 'voltar', homes_path   %> </p>
  </div>
