<h1>User Profile</h1>
<p>This is the user profile/dashboard page</p>

<div>
  <div> <!-- this is the apartment div -->
    <p>title: <%= @my_homes.first.title %></p>
    <p>address: <%= @my_homes.first.address %></p>
    <p>description: <%= @my_homes.first.description %></p>
  </div>

  <div> <!-- this is the user info div -->
    <p>email: <%= @user.email%></p>
    <p>name: <%= @user.first_name %></p>
    <p>phone: <%= @user.phone_number %></p>
    <h2>My listings</h2>
    <% @my_homes.each do |home| %>
    <p><%= home.title %></p>
    <% end %>
  </div>

  <div> <!-- this is the matches div -->
    <h2> List of interested users </h2>
    <% @my_listings.each do |listing| %>
      <p><%= listing[:student].first_name %></p>
      <%= link_to home_path(listing[:home]) do %>
        <%= listing[:home].title %>
      <% end %>
      <%= link_to 'owner_like', owner_like_path(listing[:listing]), method: :post %>
      ----------------------------
    <% end %>
  </div>

  <div> <!-- this is the message div -->
    <p> Message box </p>
  </div>
  <p> <%= link_to 'voltar', homes_path   %> </p>
</div>
