
<%= simple_form_for @home do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :cep %>
  <%= f.input :city %>
  <%= f.input :address %>

  <!-- div to align both buttons  -->
  <div class="form-bottom-buttons">
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit :class => 'create-home-button' %>
  </div>
  <!-- end of div -->
<% end %>
