<div class="homes-show-wrapper">
<p>This is the apartments page</p>
<p> <%= @home.title %> </p>

  <div class="homes-show-card-wrapper">
    <div class="homes-show-card">
      <div> <!-- div pictures box -->
        <div>
          <%= cl_image_tag @home.photo, height: 300, width: 400 %>
        </div>
      </div>

      <div> <!-- div home description -->
        <p>description: <%= @home.description %></p> <!-- name -->
        <p>address: <%= @home.address %></p> <!-- description -->
        <p>owner: <%= @home.owner.first_name %></p> <!-- name -->
        <p>phone: <%= @home.owner.phone_number %></p> <!-- description -->
      </div>

      <div> <!-- div like button -->

        <% if !policy(@home).is_owner? %>
        <%= link_to 'Like', home_listings_path(@home),
        method: :post, :class => 'btn btn-success' %>
        <% end %>
      </div>
    <% if policy(@home).destroy? %>
    <%=  link_to 'delete home', home_path(@home),
    method: :delete,
    data: { confirm: "Are you sure?"} %>
    <% end %>



<div>

  <div> <!-- div pictures box -->
    <div>
      <%= cl_image_tag @home.photo, height: 300, width: 400 %>
    </div>
  </div>

  <div> <!-- div home description -->
    <p>description: <%= @home.description %></p> <!-- name -->
    <p>address: <%= @home.address %></p> <!-- description -->
    <h1>owner: <%= @home.owner.first_name %></h1> <!-- name -->
    <h2>phone: <%= @home.owner.phone_number %></h2> <!-- description -->
  </div>

  <div> <!-- div like button -->

    <% if !policy(@home).is_owner? %>
    <% if  Listing.where(home_id: @home.id, student_id: current_user.id).first.student_like == true%>
            <%= link_to 'like', home_listings_path(home_id: @home),
            method: 'post', :class => 'btn btn-success'%>
        <% else %>
            <%= link_to 'dislike', home_listings_path(home_id: @home),
            method: 'post', :class => 'btn btn-warning'%>
        <% end %>

    <%  if policy(@home).edit? %>
    <%= link_to 'edit home', edit_home_path(@home) %>

    <% end %>
    </div>
  </div>

  <%= link_to 'voltar', homes_path, :class => 'btn btn-primary', :id => 'abc'  %>
</div>
