<h1>Homes</h1>
<p>This is the apartments page</p>


<div>

  <div> <!-- div pictures box -->
    <div>
      <p>Pictures goes here</p>
    </div>
  </div>

  <div> <!-- div home description -->
    <p>description: <%= @home.description %></p> <!-- name -->
    <p>address: <%= @home.address %></p> <!-- description -->
    <h1>owner: <%= @home.owner.first_name %></h1> <!-- name -->
    <h2>phone: <%= @home.owner.phone_number %></h2> <!-- description -->
  </div>

  <div> <!-- div like button -->
<%= link_to 'student_like', home_listings_path(@home),
      method: :post %>
  </div>

  <% if policy(@home).destroy? %>
  <%=  link_to 'delete home', home_path(@home),
    method: :delete,
    data: { confirm: "Are you sure?"} %>
  <% end %>

  <%  if policy(@home).edit? %>
  <%= link_to 'edit home', edit_home_path(@home) %>
  <% end %>

  <%= link_to 'voltar', homes_path   %>
</div>
