<div class="homes-show-wrapper">
  <p>This is the apartments page</p>
  <p> <%= @home.title %> </p>

  <div class="homes-show-card-wrapper">
    <div class="homes-show-card">
      <div> <!-- div pictures box -->
        <div>
          <%= cl_image_tag @home.photo, height: 300, width: 400 %>
        </div>
      </div>

      <div> <!-- div home description -->
        <p>description: <%= @home.description %></p> <!-- name -->
        <p>address: <%= @home.address %></p> <!-- description -->
        <p>owner: <%= @home.owner.first_name %></p> <!-- name -->
        <p>phone: <%= @home.owner.phone_number %></p> <!-- description -->
      </div>

      <div> <!-- div like button -->
      <% if policy(@home).owner? == false %>
        <% if policy(@home).logged_in?%>
            <% if policy(@home).liked? == false%>
                <%= link_to 'like', home_listings_path(home_id: @home),
                    method: 'post', :class => 'btn btn-success like-button', :id => @home.id, remote: true %>
            <% else %>
              <%= link_to 'dislike', home_listings_path(home_id: @home),
                    method: 'post', :class => 'btn btn-warning like-button', :id => @home.id, remote: true %>
            <% end %>
          <% else %>
              <%= link_to 'like', home_listings_path(home_id: @home),
                  method: 'post', :class => 'btn btn-success like-button'%>
          <% end %>
      <% end %>
      </div>
      <% if policy(@home).destroy? %>
      <%=  link_to 'delete home', home_path(@home),
      method: :delete,
      data: { confirm: "Are you sure?"} %>
      <% end %>
      <div>



        <div> <!-- div like button -->


          <%  if policy(@home).edit? %>
          <%= link_to 'edit home', edit_home_path(@home) %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
      <%= link_to 'voltar', :back, :class => 'btn btn-primary', :id => 'abc'  %>
